.footer-nav-experiment-present {
  &.has-full-page-chat .d-header-icons .search-dropdown {
    display: list-item;
  }

  &.keyboard-visible {
    .footer-nav {
      display: none;
    }
  }
  &:has(.c-routes.--channel) {
    .d-header {
      display: none;
    }
  }

  .navigation-topics,
  .navigation-category,
  .tags-page {
    #main-outlet {
      padding-top: 0;
    }
  }

  .navigation-container {
    min-height: 3.25em;
    padding-block: 0.5em;
    box-sizing: border-box;

    .navigation-controls {
      align-items: center;
    }
  }

  #navigation-bar,
  .navigation-controls {
    margin-bottom: 0;
  }

  .navigation-controls {
    gap: 0.5rem;
    .bulk-select,
    #show-tag-info {
      margin: 0;
    }
  }

  .fk-d-button-tooltip {
    margin-right: 0;
    display: none;
  }

  .d-header {
    // height: 3.25em;
    &:has(.d-header__back) {
      .title,
      .after-header-panel-outlet {
        display: none;
      }
    }

    .title {
      a {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
      }
      #site-logo {
        max-height: 2.25em;
      }
    }

    .panel {
      height: 100%;
    }

    .d-header-icons {
      height: 100%;
      align-items: center;
      //just for demo, needs to be scoped better
      .d-icon:not(.d-icon-envelope):not(.d-icon-discourse-dnd) {
        font-size: var(--font-up-3-rem);
        width: 1em;
      }
      .icon {
        height: 100%;
        box-sizing: border-box;
        padding: 0.5em 0.65em;
        width: auto;
      }
      .badge-notification {
        top: 20%;
        transform: translateY(-50%);
      }

      .do-not-disturb-background {
        right: 0;
        left: unset;
        bottom: 25%;
        transform: translateY(50%);
      }
    }

    &__user-menu {
      &.btn {
        position: relative;
      }
      li.enabled .d-icon {
        color: var(--tertiary);
      }

      img.avatar {
        width: 28px;
        height: 28px;
      }
      .user-status-background {
        width: unset;
        height: unset;
        border: 2px solid var(--secondary);
        border-radius: 50%;
        position: absolute;
        right: 25%;
        top: 50%;
        transform: translateX(50%);

        .emoji {
          width: 14px;
          height: 14px;
        }
      }
      ul {
        list-style: none;
        margin: 0;
      }
      .btn,
      a {
        display: flex;
        align-items: center;
        gap: 1em;
        color: var(--primary);
        width: 100%;
        justify-content: start;
        box-sizing: border-box;

        &:focus {
          background-color: transparent;
        }
      }
      .logout {
        .btn,
        .d-icon {
          color: var(--danger);
        }
      }
    }

    &__user-menu-hub {
      padding: 0.75em 1rem;
    }
  }

  #toggle-current-user {
    .avatar,
    .user-status-background {
      display: none;
    }
  }

  .user-menu-dropdown-wrapper {
    .bottom-tabs {
      display: none;
    }
  }

  .has-full-page-chat .--channels {
    .d-header-wrap {
      display: none;
    }
  }

  .home-logo-wrapper-outlet {
    align-self: stretch;

    .d-header__back {
      font-size: var(--font-up-1-rem);
      height: 100%;
      padding-inline: 0.5rem 0.75rem;
    }
  }

  .c-header .back-to-forum {
    display: none;
  }

  .c-header .c-heading {
    margin-inline: 0 auto;
  }

  .full-page-chat {
    #main-chat-outlet.chat-view {
      grid-template-areas:
        "footer"
        "list";
      grid-template-rows: auto 1fr;

      //def not okay css, demo purpose
      &:has(.c-footer) {
        .c-navbar-container {
          display: none;
        }
      }
    }
  }

  .c-header {
    height: 100%;
  }

  .c-footer {
    box-sizing: border-box;
    position: sticky;
    top: 0;
    padding: 0 var(--d-wrap-padding-h) !important;
    justify-content: space-between;
    height: 3.25em;

    &__item {
      flex-basis: unset;
      flex-direction: row;
      flex-grow: unset;
      gap: 0.5em;
      &.--active {
        border-bottom: var(--d-nav-underline-height) solid
          var(--d-nav-color--active);
      }

      .d-button-label {
        font-size: var(--font-0);
      }

      .d-icon {
        display: none;
      }

      .c-unread-indicator {
        position: unset;
        margin-left: unset;
        height: 8px;
        width: 8px;

        &.-urgent {
          margin-left: unset;
          height: 8px;
          width: 8px;
          min-width: unset;
          padding: 0;
        }
      }
      .c-unread-indicator__number {
        display: none;
      }
    }
  }

  //unrelated experiment
  // .quick-access-panel {
  //   .notification {
  //     &.unread {
  //       background: transparent;
  //     }
  //     div {
  //       gap: 0.5rem;
  //       &:after {
  //         content: "";
  //         flex-shrink: 0;
  //         display: inline-block;
  //         height: 8px;
  //         width: 8px;
  //         background-color: var(--tertiary-high);
  //         border-radius: 100%;
  //       }
  //     }
  //   }
  // }
}
