// Copy-pasted from chat-unread-indicator mixin
@mixin chat-unread-indicator-exp {
  @include unselectable;
  width: 14px;
  height: 14px;
  border-radius: 1em;
  box-sizing: content-box;
  -webkit-touch-callout: none;
  background: var(--tertiary-med-or-tertiary);
  color: var(--secondary);
  font-size: var(--font-down-2);
  text-align: center;
  transition: border-color linear 0.15s;

  &.-urgent {
    background: var(--success);
    color: var(--secondary);
  }

  &__number {
    color: var(--secondary);
    line-height: var(--line-height-small);
  }
}
// End of chat-unread-indicator mixin copy-paste

.footer-nav-experiment-present {
  // Hide buttons that are covered by the footer nav
  .d-header-icons {
    .hamburger-dropdown,
    .chat-header-icon {
      display: none;
    }
  }

  // for tablets
  .header-sidebar-toggle {
    display: none;
  }
}

.footer-nav .footer-nav-widget {
  justify-content: space-evenly;

  .btn {
    font-size: var(--font-up-2);
  }
  .btn.active,
  .btn.active .d-icon {
    color: var(--tertiary);
  }

  .footer-nav__item {
    display: flex;
    flex: 1;
  }

  .footer-nav__chat-wrapper {
    position: relative;
    .chat-channel-unread-indicator {
      @include chat-unread-indicator-exp;
      position: absolute;
      top: 10px;
      right: 50%;
      margin-right: -18px; // center-right of icon
      border: 2px solid var(--header_background);
    }
  }
}

.footer-nav__home-wrapper {
  .d-icon-discourse-chevron-expand {
    display: none;
  }
}

.mobile-view {
  .footer-nav__home-wrapper {
    position: relative;

    &.active .d-icon-discourse-chevron-expand {
      display: block;
      position: absolute;
      font-size: 0.7rem;
      left: 50%;
      top: 50%;
      margin-left: -25px;
      margin-top: -5px;
      color: var(--tertiary-high);
      opacity: 0.65;
    }
  }

  // This styles the back button and make it a bit smaller
  // it's probably not all that useful
  // relies on `buttonsLength` in the component

  //   .footer-nav.buttons-5,
  //   .footer-nav.buttons-6,
  //   .footer-nav.buttons-7 {
  //     .footer-nav__back-wrapper {
  //       flex-grow: 0;
  //       .btn {
  //         margin: 0;
  //       }
  //     }
  //   }
}
